:root {
    --max-width: 1240px;
    --padding: 4rem .5rem;
    --background-color: black;
}

@font-face {
    font-family: "HeyWow";
    src: url('/fonts/HeyWow-Medium.woff') format('woff');
    font-display: swap;
}

* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: transparent;
    font-family: "HeyWow", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}

body {
    background: var(--background-color);
}
